/**
 * Style for the button component
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-icon {
  @apply border-0 text-white flex-initial transition duration-500 ease-in-out transform hover:scale-150
}

.btn-submit {
  @apply flex-auto bg-blue-500 hover:bg-blue-600 text-white font-bold p-2 m-2 rounded focus:outline-none
}

.btn{
  @apply border-0 text-white flex-initial transition duration-500 ease-in-out transform hover:scale-150
}

.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
}

.form-label {
   @apply block text-gray-700 text-base mb-2
}

.scena {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 10px;
  background-color: #f5f5f5;
}

.summary {
  background-color: #f1b;
  height: 100%;
}
 
.carta:hover {
  transform: scale(1.03);

}


