/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.containerInformation {
    background-color: black;
    width: 50%;
    height: 100%;

}

.informationOn {
    background-color: yellow;
    height: 100%;
    width: 100%;
    position: relative;

}

.informationOff {
    background-color: red;
    width: 50%;
    height: 100%;
    position: relative;

}
.informationOff .btn {

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #287233;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.informationOff .btn:hover {
  background-color: #24A0ED;
}

.informationOn .btn {

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #287233;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.informationOn .btn:hover {
  background-color: #24A0ED;
}
