/** 
 * Styles for the scene model.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS grid with 10 rows and 10 columns */
.parent {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

/* Section to locate the button */
.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 11 / 1 / 12 / 12;
  background-color: #a8a8a8;
}

/* Style for the mobile view */
@media (max-width: 640px) {
  .infoOff {
    position: relative;
    background-color: #287233;
    grid-area: 1 / 1 / 11 / 12;
  }

  .infoOn {
    /* position: relative; */
    background-color: #287233;
    grid-area: 1 / 1 / 5 / 12;
  }

  .info {
    background-color: #f1b1ca;
    grid-area: 5 / 1 / 11 / 12;
  }
}

/* Style for the desktop view */
@media (min-width: 640px) {
  .infoOff {
    position: relative;
    background-color: #287233;
    grid-area: 1 / 1 / 11 / 12;
  }

  .infoOn {
    /* position: relative; */
    background-color: #287233;
    grid-area: 1 / 1 / 11 / 6;
  }

  .info {
    background-color: #f1b1ca;
    grid-area: 1 / 6 / 11 / 12;
  }
}
